<% provide(:title, "ABOUT US") %>
<div class = "concept-wrapper">
  <h1 class = "concept">ABOUT US</h1>
  <div>
    <h3 class = "concept-text">Concept</h3>
    <br>
    <h4 class = "concept-text">シャッターを切る、その1シーンであなたの心を豊かにする</h4>
  </div>
  <br>
  <br>
  <div class = "about-line"></div>
  <br>
  <br>
  <br>
  <p class = "concept-text">私たちは『思い出が現実（いま）を形成する』という理念のもと、</p><br>
  <p class = "concept-text">同じ志を掲げた広告代理店出身者2名でこのシーンズ撮影会を立ち上げました。</p><br>
  <br>
  <br>
  <p class = "concept-text">人生の色折々なシーンをファインダー越しの情景で呼び覚まし。</p><br>
  <p class = "concept-text">当時の色や匂い、暖かい気持ちを思い出すことで現実（いま）を形成作り豊かにする。</p><br>
  <br>
  <br>
  <p class = "concept-text">屋号の"SCENES"=情景には、シーンズ撮影会に関わるすべての皆様に</p><br>
  <p class = "concept-text">現実（いま）を豊かに過ごしていただきたいという想いを込めました。</p><br>
  <br>
  <br>
  <p class = "concept-text">『シャッターを切る、その1シーンであなたの心を豊かにする』</p><br>
  <br>
  <br>
  <p class = "concept-text">過去、そして未来のシーンをPRのプロフェッショナルである私たちがお届けします。</p><br>
  <p class = "concept-text">シーンズ撮影会の活躍をご期待ください。</p>
  <br>
  <br>
  <br>
</div>
