@import "bootstrap-sprockets";
@import "bootstrap";

// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 全ページ共通
body {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// テキストの見栄え
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777 ;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  list-style: none;
}

// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
  list-style: none;
  padding-left: 10px;
}
 #logo  {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 300px;
  }
}

// フッター
footer {
  width: 100%;
  height: auto;
  margin-top: auto;
  padding-top: 5px;
  border-top: 1px solid #7e6f6f ;
  color: #777 ;
}

.header-wrapper {
  width: auto;
  height: 150px;
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
}

.body-wrapper {
  width: auto;
  height: auto;
  margin-top: 90px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb ;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation  {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.background-image{
  width: 100%;
  height: 500px;
  background-image: url("background.jpg");
  z-index: -1;
}

.avatar-position{
  text-align: center;
  padding-top: 135px;
}

.title-position{
  width: 100%;
}

.profile-bigtitle{
  padding: 17px;
  background: linear-gradient(-120deg, #E4A972, #9941D8) fixed;
  margin: 0 auto;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

.profile-wrapper{
  width: auto;
  height: auto;
}

table:not(.table-striped){
  width: auto;
  text-align: left;
  margin-top: 50px;
  margin-left: 250px;
}

.tbody{
  text-align: left;
}

.profile-title{
  display: inline-block;
  font-family: serif;
  font-color: #0000;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.profile-content{
  font-family: serif;
  font-color: #0000;
  font-size: 27px;
  margin-bottom: 22px;
  padding-left: 200px;
}

.profile-image{
  width: 90px;
  height: 50px;
  border-radius: 50%;
}

.checkbox{
 margin-top: -10px;
 margin-bottom: 10px;
 span {
   margin-left: 20px;
   font-weight: normal;
 }
}

 #session_remember_me{
 width: auto;
 margin-left: 0;
}

//// プロフィールページ ////
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea ;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  width: 250px;
  height: 50px;
  margin-top: 50px;
  margin-left: 220px;
  padding: 25px;
  font-size: 25px;
  text-align: center;
}

.account-edit:last-child {
  margin-top: 0px;
}

.edit-profile-image{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile-image{
  display: inline-block;
  margin-bottom: 5px;
}

.image-form-controll{
  outline: none;
}

.image-setting{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.edit-user{
  height: auto;
}

.form-group .image-setting{
  height: 100px;
  width: 100px;
}

.row{
  margin-top: 1%;
}

.pulltab-form-control{
  display: inline-block;
    width: 100px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.birth-date-label{
  display: block;
}

.image-form-control{
  width: 250px;
}

.name-position{
  padding-left: 20px;
  font-size: 20px;
  margin: 0 0 3px;
}

#open{
  background-color: #dcdcdc;
  margin-top: -15px;
  width: 170px;
  height: auto;
}

.user-icon-list {
  margin-top: 7px;
}

$items: 4;
$animation-time: 4s;
$transition-time: .5s;
$scale: 20%;

$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);

.slideshow {
  position: absolute;
  width: 100%;
  height: 65%;
  overflow: hidden;
  margin-top: -20px;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: $total-time;
  opacity: 1;
  transform: scale($scale-base-1);

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-name: kenburns-#{$i};
      z-index: ($items - $i);
    }
  }
}

@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / $total-time);
    $transition-time-percent: percentage($transition-time / $total-time);
    
    $t1: ($animation-time-percent * ($i - 1) - $transition-time-percent / 2);
    $t2: ($animation-time-percent * ($i - 1) + $transition-time-percent / 2);
    @if($t1 < 0%) { $t1: 0%; }
    @if($t2 < 0%) { $t2: 0%; }

    $t3: ($animation-time-percent * ($i) - $transition-time-percent / 2);
    $t4: ($animation-time-percent * ($i) + $transition-time-percent / 2);
    @if($t3 > 100%) { $t3: 100%; }
    @if($t4 > 100%) { $t4: 100%; }

    $t5: (100% - $transition-time-percent / 2);
    $t6: (($t4 - $t1) * 100% / $t5);

    #{$t1} { opacity: 1; transform: scale($scale-base-1); }
    #{$t2} { opacity: 1; }
    #{$t3} { opacity: 1; }
    #{$t4} { opacity: 0; transform: scale(1); }
    
    @if($i != $items) {
      100% { opacity: 0; transform: scale($scale-base-1); }
    }
    
    @if($i == 1) {
      $scale-plus: ($scale * (100% - $t5) / $t4);
      $scale-plus-base-1: (1 + ($scale + $scale-plus) / 100%);
    
      #{$t5} { opacity: 0; transform: scale($scale-plus-base-1); }
      100% { opacity: 1; }
    }
  }
}

.schedule-top{
  padding-top: 35%;
}

.simple-calendar{
  width: 90%;
}

.table-striped{
  width: auto;
  margin-left: 100px;
}

.calendar-heading {
  padding-right: 100px;
  margin-left: 100px;
}

.calendar-title{
  font-size: 37px;
  font-weight: 900;
  text-align: center;
  font-family: serif;
}

.calendar-time{
  font-size: 20%;
}

.model-image{
  width: auto;
  height: auto;
  padding-top: 50px;
}

.model-image + .model-image {
  margin-top: -40px;
}

.model-image-layout {
  height: 70%;
  margin-top: -15%;
}

.model-image-sub{
  margin-top: 18%;
}

.model-image-layout:last-child {
  height: auto;
}

#model-image-sub-id{
  width: auto;
  height: auto;
}

.model-image-sub ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.model-image-sub ul li {
  margin-left: 50px;
}

.sub-model{
  width: 125px;
  height: auto;
}

.top-model-list {
  text-align: center;
  margin-top: 150px;
  width: auto;
  height: auto;
}

.top-model-link {
  font-size: 40px;
  color: #fff;
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  padding: 20px;
  border-radius: 50px;
}

.top-model-link:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
  border-color: transparent;
}

.error-model{
  width: auto;
  height: auto;
}

.hissu{
  width: 30px;
  height: 20px;
  background: #ff0000;
  color: #fff;
  display: inline-block;
  font-size: 5px;
  border-radius: 5px;
  text-align: center;
  padding-top: 6px;
  margin-left: 10px;
}

.clear {
  clear: both;
}

.model-list-wrapper{
  width: auto;
  height: auto;
}

.model-list {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.model-info {
  width: 25%;
  height: 350px;
}

.model-icon{
  width: 100%;
  height: auto;
}

.model-icon-detail{
  width: 70%;
  height: auto;
  padding: 0 5px;
}

.model-name-list{
  text-align: center;
  font-size: 35px;
  color: #666666;
  font-family: 'Cormorant', serif;
}

.model-list-title{
  padding-top: 60px;
  color: #666666;
  font-family: 'Cormorant', serif;
}

.model-change-wrapper {
  width: auto;
  height: auto;
  padding-top: 30px;
  display: flex;
}

.model-change-front {
  font-family: 'Cormorant', serif;
  font-size: 20px;
  margin-left: 38%;
}

.model-change-back {
  font-family: 'Cormorant', serif;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 30%;
}

.model-change-positon {
  padding-top: 30px;
}

.main-model {
  width: 80%;
}

.model-wrapper {
  width: auto;
  height: auto;
  margin: 10px 5%;
  background-image: url("../images/ポートフォリオ背景.jpg"); 
  background-repeat: no-repeat;
	background-size: 40% auto;
  font-family: 'Cormorant', serif;
}


.model-layout-position {
  display: inline-block;
  vertical-align: center;
  width: 55%;
  height: auto;
  text-align: center;
  float: left;
}

.model-layout-position:last-child {
  width: 40%;
}

.model-info-layout {
  display: inline-block;
  vertical-align: center;
  width: 35%;
  height: auto;
  text-align: center;
  float: left;
}

.model-content {
  height: auto;
  width: auto;
  text-align: center;
}

.model-image-main {
  margin-top: 150px;
  width: 90%;
}

.model-content table {
  height: auto;
  border-collapse: separate;
  border-spacing: 40px;
  font-size: 17px;
  margin-left: 0;
}

.model-content table tr th, .model-table tr td {
  display: inline-block;
}

.model-content table tr:first-child {
  margin-bottom: 40px; 
}

.model-content table tr td:first-child {
  font-size: 60px;
}

.model-content table tr th {
  border-bottom: solid 3px #e6e6fa;
  width: auto;
  text-align: center;
}

.concept-wrapper{
  padding: 9% 25%;
}

.concept-text{
  margin-bottom: 0;
  font-family: serif;
}

.concept{
  margin-top: 0;
  margin-bottom: 110px;
  font-family: serif;
}

.about-line{
  border: 1px solid #f5f5f5
}

.schedule-list-wrapper{
  width: auto;
  height: auto;
}

.schedule-list-title{
  padding-top: 60px;
  color: #666666;
  font-family: 'Cormorant', serif;
}

.schedule-wrapper{
  width: auto;
  height: auto;
}

.schedule-title{
  display: inline-block;
  font-size: 280%;
  font-family: serif;
  padding-top: 9%;
  margin-bottom: 5%;
}

.schedule-content{
  display: block;
  text-align: center;
}

.schedule-content-wrapper {
  margin: 0 10%;
}

.schedule-title::after {
  content: "";
  display: block;
  background-color:#f5f5f5;
  height: 2px;
  width: 100%;
}

.new-schedule {
  margin: 5% 15%;
}

.place-image {
  width: 60%;
  height: auto;
}

.schedule-model-wrapper {
  margin: 5% 10%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.schedule-model-image {
  width: 90%;
  height: auto;
}

.schedule-model-icon{
  width: 95%;
  height: auto;
}

.schedule-model-name{
  font-size: 2em;
  font-family: serif;
}

.schedule-model-position {
  display: block;
  width: 20%;
  margin-right: 5%;
  text-align: center;
}

.schedule-model-title {
  border-bottom: 2px solid #f5f5f5;
  margin: 0 15%;
  padding-bottom: 2%;
}

.schedule-model-list-title {
  margin-top: 20%;
  margin-bottom: 0;
}

.schedule-time-wrapper {
  display: flex;
  width: 37%;
}