<div class="model-image-layout">
  <div class="model-image-main">
    <% if @model.model_image.present? %>
      <%= image_tag @model.model_image.url, class: "main-model", alt: "model-main-image" %>
    <% else %>
      <%= image_tag "no-image.png", class: "main-model" %>
    <% end %>
  </div>
</div>