<h3>PROFILE</h3>
<div class="model-content">
  <tr>
    <th>〜名前〜</th>
    <td><%= @model.girl_name %></td>
  </tr>
  <tr>
    <th>〜仕事〜</th>
    <td><%= @model.model_job %></td>
  </tr>
  <tr>
    <th>〜趣味　特技〜</th>
    <td><%= @model.model_hobby %></td>
  </tr>
  <tr>
    <th>〜ひとこと〜</th>
    <td><%= @model.model_comment %></td>
  </tr>
</div>